@{
    ViewData["Title"] = "Index";
    var product = ViewBag.Product as List<Product>;
    var listInStock = ViewBag.InStock as List<InStock>;

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>        
            <th>
                InStock
            </th> 
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in listInStock)
            {
                <tr>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Product.Price
                    </td>
                    <td>
                        @item.UnitInStock
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
